<!DOCTYPE html>
<html>
  <head>
    <title>TweetingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="menu-bar">
      <div class="menus">
        <%= link_to('Tweeting', "/" ) %>
        <%= link_to('新規登録', "signup" ) %>
        <%= link_to('ログイン', "login" ) %>
        <%= link_to('ログアウト', "/" ) %>
        <%= link_to('新規投稿', "/" ) %>
        <%= link_to('投稿一覧', "/" ) %>
        <%= link_to('ユーザー一覧', "/" ) %>
        <%= link_to('Tweetingとは', "about" ) %>
          <div class="copyright">
            <p>コピーライト</p>
          </div>
      </div>
  </div>
    <%= yield %>
  </body>
</html>
